<a href="https://colab.research.google.com/github/myPar/ML/blob/master/tools/group_by.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Group by

In [3]:
import numpy as np
import pandas as pd

In [6]:
data = {'Company':['intel', 'intel', 'facebook', 'google', 'google', 'google'], 
        'Employers':['Andrey', 'Sergey', 'Pavel', 'Arseniy', 'Alexander', 'Bulat'],
        'Sales':[100, 120, 100, 80, 70, 100]}
df = pd.DataFrame(data)
df

    Company  Employers  Sales
0     intel     Andrey    100
1     intel     Sergey    120
2  facebook      Pavel    100
3    google    Arseniy     80
4    google  Alexander     70
5    google      Bulat    100

In [10]:
# group by company with mean agregation function on sales
new_df = pd.DataFrame(df.groupby('Company')['Sales'].mean())
new_df

               Sales
Company
facebook  100.000000
google     83.333333
intel     110.000000

In [11]:
# max sale
new_df = pd.DataFrame(df.groupby('Company')['Sales'].max())
new_df

          Sales
Company
facebook    100
google      100
intel       120

In [13]:
# descripe grouped data frame
df.groupby('Company').describe().transpose()

Company      facebook      google       intel
Sales count       1.0    3.000000    2.000000
      mean      100.0   83.333333  110.000000
      std         NaN   15.275252   14.142136
      min       100.0   70.000000  100.000000
      25%       100.0   75.000000  105.000000
      50%       100.0   80.000000  110.000000
      75%       100.0   90.000000  115.000000
      max       100.0  100.000000  120.000000